[session_server]
  session_timeout = 1800

[[runners]]
tls-ca-file = "/etc/gitlab-runner/ca.pem" 
  [runners.docker]
    tls_verify = true
    userns_mode = "host"
    privileged = false
    security_opt = ["apparmor=unconfined", "seccomp=unconfined"]